.option1{
	background:url(../libs/img/comedor2.jpg) 50% 0 no-repeat fixed;
}
.option2{
	background:url(../libs/img/comedor3.jpg) 50% 0 no-repeat fixed;
}
.option3{
	background:url(../libs/img/comedor4.jpg) 50% 0 no-repeat fixed;
}
.option4{
	background:url(../libs/img/comedor5.jpg) 50% 0 no-repeat fixed;
}
[class*="option"]{
	min-height: 400px;
	width: 100%;
	background-size: cover;
	color:white;
}
/*modal fix*/
.modal-open {
  margin-right: -17px;
}

/*modal*/
.modal-dialog{
	padding-top:50px;
}

/* signIn modal */
#signIn .modal-content, #error-modal .modal-content{
	opacity:0.95;
}


#signIn .modal-header{
	background-color:rgba(245, 72, 74, 0.9)
}
#sugerenciaModal{opacity:0.95;}
#sugerenciaModal .modal-header{
	background-color:rgba(245, 72, 74, 0.9)
}

.pagination>.active>a, 
.pagination>.active>a:focus, 
.pagination>.active>a:hover, 
.pagination>.active>span, 
.pagination>.active>span:focus, 
.pagination>.active>span:hover{
	background-color: rgba(245, 72, 74, 0.9);
	border-color: rgba(245, 72, 74, 0.9);
}

.pagination>li>a, 
.pagination>li>span,
.pagination>li>a:focus, 
.pagination>li>a:hover, 
.pagination>li>span:focus, 
.pagination>li>span:hover {
	color: rgba(245, 72, 74, 0.9);
}

.dropdown-menu>.active>a, 
.dropdown-menu>.active>a:focus, 
.dropdown-menu>.active>a:hover{
	background-color: rgba(245, 72, 74, 0.9);
}

.withoutMargin{
	margin: initial;
}

.marginTop{
	margin-top: 20px;
}

.marginLeft{
	margin-left: 1px;
}

body{
	background:url(../libs/img/bg/2.jpg) 50% 0 no-repeat fixed;
	background-size: cover;
}

html{
	overflow-x: hidden;
}