.front{
	z-index: 4;
}
#cd-logo2{
	display: none;
}
.cd-btn{
	display: none;
}

@media only screen and (min-width: 1170px) {
	#cd-logo2{
		position: fixed;
		display: block;
		margin: 13px 0 0 5%;
	}
	.cd-btn{
		display: inline;
	}
	.cd-header{
		display: none;
	}
}
body{
	background:url(../libs/img/bg/2.jpg) 50% 0 no-repeat fixed;
	background-size: cover;
	padding-top: 100px;
}
.well{
	opacity: 0.93;
}
a:focus{
	color:white;	
}